openapi: 3.1.0
info:
  title: Userback REST Feedback API
  description: REST API for managing Userback feedback items, comments, and related customer feedback resources. Authentication uses a Bearer token (API token) generated from the Userback dashboard.
  version: '1.0'
  contact:
    name: Userback API Support
    url: https://docs.userback.io/reference
servers:
- url: https://rest.userback.io/1.0
  description: Production
security:
- BearerAuth: []
tags:
- name: Feedback
  description: Feedback items captured by Userback widgets.
paths:
  /feedback:
    get:
      tags:
      - Feedback
      summary: List feedback
      description: Lists available feedback items.
      operationId: listFeedback
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Filter'
      responses:
        '200':
          description: A list of feedback items.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Feedback'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Feedback
      summary: Create feedback
      description: Creates a feedback item.
      operationId: createFeedback
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Feedback'
      responses:
        '201':
          description: Feedback created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feedback'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    Filter:
      name: filter
      in: query
      description: Filter expression.
      required: false
      schema:
        type: string
    Sort:
      name: sort
      in: query
      description: Sort expression.
      required: false
      schema:
        type: string
    Page:
      name: page
      in: query
      description: Page number for pagination.
      required: false
      schema:
        type: integer
        minimum: 1
    Limit:
      name: limit
      in: query
      description: Maximum number of items per page.
      required: false
      schema:
        type: integer
        minimum: 1
  responses:
    Unauthorized:
      description: Missing or invalid Bearer token.
  schemas:
    Feedback:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Token
      description: Pass the Userback API token in the Authorization header as `Bearer <YOUR_API_TOKEN>`. Tokens are managed from the Userback dashboard.
